{% extends "layout.html" %}

{% block title %}
    Currency Exchange
{% endblock %}

{% block head %}
    Currency Exchange
{% endblock %}

{% block main %}
    <div class="settings-body">
        <div>
            <form action="/currency" method="post" class="cash-input">
                <input autocomplete="off" autofocus type="number" name="cash" class="form-control mx-auto" min="0" placeholder="Cash:">
                <button class="btn btn-primary" name="cash-button" type="submit">Convert</button>
            </form>
            <form action="/currency" method="post" class="ticket-input">
                <input autocomplete="off" autofocus type="number" name="tickets" class="form-control mx-auto" min="0" placeholder="Tickets:" step="10">
                <button class="btn btn-primary" name="ticket-button" type="submit">Convert</button>
            </form>
        </div>
    </div>
{% endblock %}
